

<%= form_tag import_analyze_path, :method => 'get' do %>
Source table:
    <%= select_tag :temp_db_table, options_for_select(TempDb.get_tables, params[:temp_db_table]), :onchange => '$.get("/import/temp_tab_cols?temp_db_table=" + this.value);', :prompt => 'Select a table' %>
<% end %>



Source column: <span id="temp_col_span"></span>



<%= form_tag import_analyze_path, :method => 'get' do %>
Destination table:
    <%= select_tag :permanent_db_table, options_for_select(PermanentDb.get_tables, params[:permanent_db_table]), :onchange => 'this.form.submit()', :prompt => 'Select a table' %>
<% end %>

Destination column:
